@charset "UTF-8";
.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

.tc {
  display: block !important;
}

.tb {
  display: none !important;
}

@media print, screen and (max-width: 991px) {
  .tc {
    display: none !important;
  }
  .tb {
    display: block !important;
  }
}
@media only screen and (max-width: 768px) {
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
  }
}
@media print, screen and (min-width: 769px) {
  .pc-hide {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .sp-hide {
    display: none !important;
  }
}
#wrapper {
  position: relative;
  width: 100%;
}

main {
  position: relative;
}

/* input */
input[type=text],
input[type=email],
input[type=tel],
input[type=number],
input[type=date],
input[type=password],
select,
textarea {
  position: relative;
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  padding: 1.2rem 1.6rem;
  width: 100%;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 3rem;
  text-align: left;
  color: #000000;
  outline: none !important;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 768px) {
  input[type=text],
  input[type=email],
  input[type=tel],
  input[type=number],
  input[type=date],
  input[type=password],
  select,
  textarea {
    font-size: 1.6rem;
    line-height: 2.8rem;
    padding: 1rem 1.2rem;
  }
}

input[type=text],
input[type=email],
input[type=tel],
input[type=number],
input[type=date],
input[type=password],
select {
  height: 5.4rem;
}
@media only screen and (max-width: 768px) {
  input[type=text],
  input[type=email],
  input[type=tel],
  input[type=number],
  input[type=date],
  input[type=password],
  select {
    height: 5rem;
  }
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=date]:focus,
input[type=password]:focus,
select:focus,
textarea:focus {
  border-color: #333;
}

select {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../img/select-down.svg);
  background-position: calc(100% - 1.2rem) 50%;
  background-size: 1.2rem 0.6rem;
  background-repeat: no-repeat;
  z-index: 0;
}
@media only screen and (max-width: 768px) {
  select {
    background-position: calc(100% - 1rem) 50%;
  }
}

picture,
figure,
.image_wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 0;
}
picture img,
figure img,
.image_wrap img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.scroll {
  position: relative;
  max-width: 100%;
  width: 100%;
  overflow: auto;
}
@media only screen and (max-width: 768px) {
  .scroll {
    padding-bottom: 1.2rem;
  }
  .scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    border-radius: 0.6rem;
  }
  .scroll::-webkit-scrollbar {
    height: 0.6rem;
    background-color: #f5f5f5;
  }
  .scroll::-webkit-scrollbar-thumb {
    border-radius: 0.6rem;
    background-color: #FED517;
  }
}

.common-section {
  position: relative;
  padding: 6rem 0 7rem;
}
@media only screen and (max-width: 768px) {
  .common-section {
    padding: 5rem 0 6rem;
  }
}

.m-text {
  position: relative;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: 0.1em;
}
@media only screen and (max-width: 768px) {
  .m-text {
    letter-spacing: 0.04em;
  }
}

.mx-txt {
  position: relative;
  font-weight: normal;
  font-size: 1.8rem;
}
@media only screen and (max-width: 768px) {
  .mx-txt {
    font-size: 1.6rem;
  }
}

.m-ttl {
  position: relative;
  font-weight: 500;
  font-size: 2rem;
}
@media only screen and (max-width: 768px) {
  .m-ttl {
    font-size: 1.8rem;
  }
}

.text-list {
  position: relative;
  list-style-type: "・";
  padding-left: 1.8rem;
}

.underline-bg {
  display: inline;
  background: linear-gradient(transparent 67%, #FED517 0%);
}

.section-title {
  position: relative;
  font-weight: 900;
  font-size: 3.6rem;
  line-height: 1.2;
  letter-spacing: 0.1em;
  color: #000000;
  text-align: center;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 768px) {
  .section-title {
    font-size: 2.4rem;
    line-height: 1.5;
    letter-spacing: 0;
    margin-bottom: 3rem;
  }
}

.section-description {
  position: relative;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #000000;
}
@media only screen and (max-width: 768px) {
  .section-description {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
}

.section-content {
  position: relative;
}

/* btn */
.viewmore_link_wrap {
  position: relative;
}
.viewmore_link_wrap .viewmore_link {
  position: relative;
  display: inline-block;
  font-family: "Ubuntu";
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
  line-height: 26px;
  color: #FF7100;
  text-decoration: none;
}
.viewmore_link_wrap .viewmore_link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #FF7100;
}
.viewmore_link_wrap .viewmore_link::after {
  content: ">";
  display: inline-block;
  line-height: 1;
  margin-left: 6px;
  vertical-align: text-bottom;
}
.viewmore_link_wrap .viewmore_link:hover::before {
  width: 100%;
  animation: link-lineloop 0.6s ease-out;
  -webkit-animation: link-lineloop 0.6s ease-out;
}

.view-more {
  position: relative;
}

.link-btn {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.2rem;
  max-width: 30rem;
  width: 100%;
  height: 7.2rem;
  background-color: #FFFFFF;
  border: 2px solid #429BD8;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 900;
  letter-spacing: 0.1em;
  color: #429BD8;
  text-align: center;
  text-decoration: none;
  outline: none;
  transition: all 0.6s cubic-bezier(0.8, 0, 0.2, 1);
  cursor: pointer;
  z-index: 0;
}
@media only screen and (max-width: 768px) {
  .link-btn {
    max-width: 24rem;
    height: 6rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 1rem 1.2rem;
  }
}
.link-btn span {
  position: relative;
  color: inherit;
  text-decoration: none;
  z-index: 3;
}
.link-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: #429BD8;
  width: 100%;
  height: 100%;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1);
  transform-origin: right top;
  transform: scale(0, 1);
  z-index: 1;
}
.link-btn:hover {
  color: #FFFFFF;
}
.link-btn:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.submit-btn {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.2rem;
  max-width: 30rem;
  width: 100%;
  height: 7.2rem;
  background-color: #429BD8;
  border: 2px solid #FFFFFF;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 900;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  outline: none;
  transition: all 0.6s cubic-bezier(0.8, 0, 0.2, 1);
  cursor: pointer;
  z-index: 0;
}
@media only screen and (max-width: 768px) {
  .submit-btn {
    max-width: 24rem;
    height: 6rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 1rem 1.2rem;
  }
}
.submit-btn span {
  position: relative;
  color: inherit;
  text-decoration: none;
  z-index: 3;
}
.submit-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: #FFFFFF;
  width: 100%;
  height: 100%;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1);
  transform-origin: right top;
  transform: scale(0, 1);
  z-index: 1;
}
.submit-btn:hover {
  color: #429BD8;
}
.submit-btn:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  outline: 0;
  opacity: 0;
  transition: opacity 0.1s linear;
  padding: 1.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.5);
}
.modal .modal-dialog {
  position: relative;
  max-width: 70rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transition: transform 0.3s ease-out;
  transform: translate(0, -15%);
  margin: auto;
}
.modal .modal-content {
  position: relative;
  display: block;
  width: 100%;
  background: #FFFFFF;
  border-radius: 0.6rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  pointer-events: auto;
}
.modal .close {
  position: absolute;
  top: -1rem;
  right: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 0.6rem;
  width: 3rem;
  height: 3rem;
  background-color: #FED517;
  border-radius: 50%;
  font-size: 1.6rem;
  line-height: 1;
  z-index: 3;
}
.modal .modal-body {
  position: relative;
  padding: 2rem;
}
.modal.show {
  opacity: 1;
}
.modal.show .modal-dialog {
  transform: translate(0, 0);
}

.modal-open {
  overflow: hidden;
}

.wp-pagination {
  position: relative;
  margin-top: 6rem;
}
@media only screen and (max-width: 768px) {
  .wp-pagination {
    margin-top: 5rem;
  }
}
.wp-pagination .wp-pagenavi {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.wp-pagination .wp-pagenavi span,
.wp-pagination .wp-pagenavi a {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  margin-bottom: 0.6rem;
  padding: 1rem 1.5rem;
  min-width: 4.6rem;
  border: 1px solid #07913A;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  text-align: center;
  color: #07913A;
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 768px) {
  .wp-pagination .wp-pagenavi span,
  .wp-pagination .wp-pagenavi a {
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding: 0.8rem 1.2rem;
    min-width: 4.2rem;
  }
}
.wp-pagination .wp-pagenavi span:hover,
.wp-pagination .wp-pagenavi a:hover {
  background: #07913A;
  color: #FFFFFF;
}
.wp-pagination .wp-pagenavi span {
  background: #07913A;
  color: #FFFFFF;
}
.wp-pagination .wp-pagenavi span.pages {
  display: none;
}
.wp-pagination .wp-pagenavi .first,
.wp-pagination .wp-pagenavi .last {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
@media only screen and (max-width: 768px) {
  .wp-pagination .wp-pagenavi .first,
  .wp-pagination .wp-pagenavi .last {
    display: none;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

.blog-single {
  position: relative;
}
.blog-single .single-thumb {
  position: relative;
  width: 100%;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 768px) {
  .blog-single .single-thumb {
    margin-bottom: 2.4rem;
  }
}
.blog-single .single-title {
  position: relative;
  font-size: 2.4rem;
  line-height: 3.6rem;
  letter-spacing: 0.1em;
  font-weight: 900;
  color: #000000;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 768px) {
  .blog-single .single-title {
    font-size: 1.8rem;
    line-height: 3rem;
    margin-bottom: 2.4rem;
  }
}
.blog-single .single-date {
  position: relative;
  display: block;
  font-family: "Oswald";
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #999999;
  margin-bottom: 0.6rem;
}
.blog-single .single-meta {
  position: relative;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 768px) {
  .blog-single .single-meta {
    margin-bottom: 2.4rem;
  }
}
.blog-single .single-meta .cat {
  position: relative;
  display: inline-block;
  padding: 0.5rem 1.6rem;
  background-color: #07913A;
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  outline: none;
  border-radius: 1.6rem;
}
.blog-single .single-meta .cat + .cat {
  margin-left: 1.2rem;
}
@media only screen and (max-width: 768px) {
  .blog-single .single-meta .cat + .cat {
    margin-left: 0.8rem;
  }
}
.blog-single .single-meta a.cat {
  cursor: pointer;
}
.blog-single .single-meta a.cat:hover {
  opacity: 0.7;
}
.blog-single .single-meta .date {
  position: relative;
  display: inline-block;
  font-family: "Oswald";
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #999999;
  margin-left: 1.2rem;
}
.blog-single .share-links {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.blog-single .share-links .label {
  position: relative;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #000000;
  margin-right: 1.2rem;
  padding-bottom: 0.2rem;
}
.blog-single .share-links a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-size: 3.6rem;
  line-height: 1;
  text-decoration: none;
  outline: none;
  transition: all 0.2s ease-in-out;
}
.blog-single .share-links a i {
  vertical-align: middle;
}
.blog-single .share-links a:not(:first-of-type) {
  margin-left: 0.8rem;
}
.blog-single .share-links a:hover {
  opacity: 0.7;
}
.blog-single .share-links .twitter-link {
  color: #1D9BF0;
}
.blog-single .share-links .facebook-link {
  color: #1877F2;
}
.blog-single .share-links .line-link {
  color: #00C300;
}
.blog-single .share-links .line-link i {
  font-size: 90%;
}
.blog-single .blog-content {
  position: relative;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  letter-spacing: 0.1em;
  color: #000000;
}
@media only screen and (max-width: 768px) {
  .blog-single .blog-content {
    letter-spacing: 0.05em;
  }
}
.blog-single .blog-content p {
  font-size: 1.6rem;
  line-height: 2.8rem;
  margin: 2rem 0;
}
@media only screen and (max-width: 768px) {
  .blog-single .blog-content p {
    margin: 1.6rem 0;
  }
}
.blog-single .blog-content ul {
  position: relative;
  list-style: disc;
  padding-left: 1.8rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 768px) {
  .blog-single .blog-content ul {
    padding-left: 1.6rem;
  }
}
.blog-single .blog-content strong,
.blog-single .blog-content b {
  font-weight: bold;
}
.blog-single .blog-content i {
  font-style: italic;
}
.blog-single .blog-content a {
  position: relative;
  color: inherit;
  text-decoration: underline;
}
.blog-single .blog-content img {
  max-width: 100%;
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 768px) {
  .blog-single .blog-content img {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }
}
.blog-single .blog-content h1,
.blog-single .blog-content h2 {
  position: relative;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 3.6rem;
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 768px) {
  .blog-single .blog-content h1,
  .blog-single .blog-content h2 {
    font-size: 1.8rem;
    margin-top: 3rem;
    margin-bottom: 1.6rem;
  }
}
.blog-single .blog-content h3 {
  position: relative;
  font-weight: bold;
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 768px) {
  .blog-single .blog-content h3 {
    font-size: 1.8rem;
    margin-top: 3rem;
    margin-bottom: 1.6rem;
  }
}
.blog-single .blog-content h4 {
  position: relative;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 768px) {
  .blog-single .blog-content h4 {
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }
}
.blog-single .blog-content h5,
.blog-single .blog-content h6 {
  position: relative;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 768px) {
  .blog-single .blog-content h5,
  .blog-single .blog-content h6 {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }
}
.blog-single .blog-content blockquote {
  position: relative;
  padding: 2rem 2.4rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: 500;
  color: #000000;
  border-radius: 1.2rem;
  background: #FFF8D6;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 768px) {
  .blog-single .blog-content blockquote {
    padding: 2rem 1.6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
.blog-single .bg-yellow {
  background: #FFF8D6 !important;
}
.blog-single .bg-wheat {
  background: #F2F2F2 !important;
}
.blog-single .bg-green {
  background: #DAEFE1 !important;
}
.blog-single .single-share {
  position: relative;
  margin-top: 5rem;
}
@media only screen and (max-width: 768px) {
  .blog-single .single-share {
    margin-top: 3rem;
  }
}
@media print, screen and (min-width: 769px) {
  .blog-single .single-share .share-links {
    float: right;
  }
}
.blog-single .author-box {
  position: relative;
  padding: 2.4rem 2.4rem 2.4rem;
  border: 1px solid #D9D9D9;
  border-radius: 1.5rem;
  margin-top: 4rem;
}
@media only screen and (max-width: 768px) {
  .blog-single .author-box {
    padding: 1.8rem 1.8rem;
    border-radius: 1.2rem;
    margin-top: 3rem;
  }
}
.blog-single .author-box .avatar {
  position: relative;
  width: 10rem;
  float: right;
  margin-left: 2rem;
  margin-bottom: 1.2rem;
}
@media only screen and (max-width: 768px) {
  .blog-single .author-box .avatar {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
  }
}
.blog-single .author-box .label {
  position: relative;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 500;
  color: #000000;
  margin-top: 0;
  margin-bottom: 1.2rem;
}
@media only screen and (max-width: 768px) {
  .blog-single .author-box .label {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
}
.blog-single .author-box .name {
  position: relative;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: bold;
  color: #000000;
  margin-top: 0;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 768px) {
  .blog-single .author-box .name {
    font-size: 1.8rem;
  }
}
.blog-single .author-box .text {
  position: relative;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #000000;
  font-weight: normal;
}
@media only screen and (max-width: 768px) {
  .blog-single .author-box .text {
    font-size: 1.4rem;
  }
}

#tinymce,
body.wp-autoresize {
  position: relative;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  line-height: 1.8;
  letter-spacing: 0.04em;
  color: #000000;
}
@media only screen and (max-width: 768px) {
  #tinymce,
  body.wp-autoresize {
    font-size: 1.4rem;
    letter-spacing: 0;
  }
}
#tinymce p,
body.wp-autoresize p {
  margin: 2rem 0;
}
@media only screen and (max-width: 768px) {
  #tinymce p,
  body.wp-autoresize p {
    margin: 1.6rem 0;
  }
}
#tinymce ul,
body.wp-autoresize ul {
  position: relative;
  list-style: disc;
  padding-left: 1.8rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 768px) {
  #tinymce ul,
  body.wp-autoresize ul {
    padding-left: 1.6rem;
  }
}
#tinymce strong,
#tinymce b,
body.wp-autoresize strong,
body.wp-autoresize b {
  font-weight: bold;
}
#tinymce i,
body.wp-autoresize i {
  font-style: italic;
}
#tinymce a,
body.wp-autoresize a {
  position: relative;
  color: inherit;
  text-decoration: underline;
}
#tinymce img,
body.wp-autoresize img {
  max-width: 100%;
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 768px) {
  #tinymce img,
  body.wp-autoresize img {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }
}
#tinymce h1,
#tinymce h2,
#tinymce h3,
body.wp-autoresize h1,
body.wp-autoresize h2,
body.wp-autoresize h3 {
  position: relative;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 768px) {
  #tinymce h1,
  #tinymce h2,
  #tinymce h3,
  body.wp-autoresize h1,
  body.wp-autoresize h2,
  body.wp-autoresize h3 {
    font-size: 1.8rem;
    margin-top: 2.4rem;
    margin-bottom: 1.6rem;
  }
}
#tinymce h4,
body.wp-autoresize h4 {
  position: relative;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.5;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 768px) {
  #tinymce h4,
  body.wp-autoresize h4 {
    font-size: 1.6rem;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }
}
#tinymce h5,
#tinymce h6,
body.wp-autoresize h5,
body.wp-autoresize h6 {
  position: relative;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 768px) {
  #tinymce h5,
  #tinymce h6,
  body.wp-autoresize h5,
  body.wp-autoresize h6 {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }
}
#tinymce blockquote,
body.wp-autoresize blockquote {
  position: relative;
  margin-top: 3.6rem;
  margin-bottom: 3.6rem;
}
@media only screen and (max-width: 768px) {
  #tinymce blockquote,
  body.wp-autoresize blockquote {
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
  }
}
#tinymce blockquote::after,
body.wp-autoresize blockquote::after {
  content: "";
  visibility: hidden;
  height: 0;
  display: block;
  font-size: 0;
  clear: both;
}
#tinymce blockquote img,
body.wp-autoresize blockquote img {
  position: relative;
  width: 10rem;
  height: auto;
  margin: 0;
  float: left;
}
#tinymce blockquote p,
body.wp-autoresize blockquote p {
  position: relative;
  padding: 2rem 2.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #000000;
  line-height: 1.8;
  letter-spacing: 0.1em;
  background-color: #FEEC9B;
  border-radius: 1.5rem;
  max-width: calc(100% - 23rem);
  float: left;
  min-height: 10rem;
  margin: 0 0 0 2rem;
}
@media only screen and (max-width: 768px) {
  #tinymce blockquote p,
  body.wp-autoresize blockquote p {
    max-width: calc(100% - 12rem);
    padding: 1.6rem 1.8rem;
    font-size: 1.4rem;
    letter-spacing: 0.04em;
    border-radius: 1.2rem;
  }
}
#tinymce blockquote p::after,
body.wp-autoresize blockquote p::after {
  content: "";
  position: absolute;
  top: 4rem;
  left: -1.4rem;
  display: inline-block;
  width: 1.8rem;
  height: 2rem;
  background-image: url(../img/quote-left.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#tinymce blockquote.right img,
body.wp-autoresize blockquote.right img {
  float: right;
}
#tinymce blockquote.right p,
body.wp-autoresize blockquote.right p {
  float: right;
  background-color: #CCE0F5;
  margin: 0 2rem 0 0;
}
#tinymce blockquote.right p::after,
body.wp-autoresize blockquote.right p::after {
  left: auto;
  right: -1.4rem;
  background-image: url(../img/quote-right.png);
}
#tinymce .related-blog,
body.wp-autoresize .related-blog {
  position: relative;
  padding: 2rem 2.4rem 2.4rem;
  border: 1px solid #D9D9D9;
  border-radius: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 768px) {
  #tinymce .related-blog,
  body.wp-autoresize .related-blog {
    padding: 1.6rem 1.6rem;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    border-radius: 1.2rem;
  }
}
#tinymce .related-blog .lead-title,
body.wp-autoresize .related-blog .lead-title {
  position: relative;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 500;
  color: #000000;
  margin-top: 0;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 768px) {
  #tinymce .related-blog .lead-title,
  body.wp-autoresize .related-blog .lead-title {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
  }
}
#tinymce .related-blog .wrap-inline,
body.wp-autoresize .related-blog .wrap-inline {
  position: relative;
  display: grid;
  grid-template-columns: 21rem minmax(0px, 1fr);
  grid-column-gap: 2rem;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  #tinymce .related-blog .wrap-inline,
  body.wp-autoresize .related-blog .wrap-inline {
    grid-template-columns: 12rem minmax(0px, 1fr);
    grid-column-gap: 1.2rem;
  }
}
#tinymce .related-blog .wrap-inline > .left,
body.wp-autoresize .related-blog .wrap-inline > .left {
  position: relative;
  margin: 0;
}
#tinymce .related-blog .wrap-inline > .right,
body.wp-autoresize .related-blog .wrap-inline > .right {
  position: relative;
  margin: 0;
}
#tinymce .related-blog .wrap-inline .thumb,
body.wp-autoresize .related-blog .wrap-inline .thumb {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  outline: none;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
#tinymce .related-blog .wrap-inline .thumb img,
body.wp-autoresize .related-blog .wrap-inline .thumb img {
  width: 100%;
  height: 100%;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
#tinymce .related-blog .wrap-inline .thumb:hover img,
body.wp-autoresize .related-blog .wrap-inline .thumb:hover img {
  transform: scale(1.15);
}
#tinymce .related-blog .wrap-inline .title,
body.wp-autoresize .related-blog .wrap-inline .title {
  position: relative;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  line-height: 1.8;
  letter-spacing: 0.04em;
  font-weight: 600;
  color: #000000;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  #tinymce .related-blog .wrap-inline .title,
  body.wp-autoresize .related-blog .wrap-inline .title {
    font-size: 1.4rem;
    max-width: 100%;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
}
#tinymce .related-blog .wrap-inline .title a,
body.wp-autoresize .related-blog .wrap-inline .title a {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  #tinymce .related-blog .wrap-inline .title a,
  body.wp-autoresize .related-blog .wrap-inline .title a {
    text-decoration: underline;
  }
}
#tinymce .related-blog .wrap-inline .title a:hover,
body.wp-autoresize .related-blog .wrap-inline .title a:hover {
  text-decoration: underline;
}
#tinymce .related-blog .wrap-inline .meta,
body.wp-autoresize .related-blog .wrap-inline .meta {
  position: relative;
  margin: 0;
  margin-top: 1.6rem;
}
#tinymce .related-blog .wrap-inline .cat,
body.wp-autoresize .related-blog .wrap-inline .cat {
  position: relative;
  display: inline-block;
  padding: 0.5rem 1.6rem;
  background-color: #FED517;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  text-decoration: none;
  outline: none;
  border-radius: 1.6rem;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  #tinymce .related-blog .wrap-inline .cat,
  body.wp-autoresize .related-blog .wrap-inline .cat {
    font-size: 1.2rem;
    padding: 0.4rem 1.2rem;
  }
}
#tinymce .related-blog .wrap-inline .cat + .cat,
body.wp-autoresize .related-blog .wrap-inline .cat + .cat {
  margin-left: 1.2rem;
}
@media only screen and (max-width: 768px) {
  #tinymce .related-blog .wrap-inline .cat + .cat,
  body.wp-autoresize .related-blog .wrap-inline .cat + .cat {
    margin-left: 1rem;
  }
}
#tinymce .related-blog .wrap-inline a.cat,
body.wp-autoresize .related-blog .wrap-inline a.cat {
  cursor: pointer;
}
#tinymce .related-blog .wrap-inline a.cat:hover,
body.wp-autoresize .related-blog .wrap-inline a.cat:hover {
  opacity: 0.7;
}
#tinymce .related-blog .wrap-inline .date,
body.wp-autoresize .related-blog .wrap-inline .date {
  position: relative;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #999999;
  margin: 0;
  margin-left: 1.2rem;
}
@media only screen and (max-width: 768px) {
  #tinymce .related-blog .wrap-inline .date,
  body.wp-autoresize .related-blog .wrap-inline .date {
    margin-left: 1rem;
  }
}

#header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: #FFFFFF;
  padding: 1.5rem 0;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
  z-index: 996;
}
@media only screen and (max-width: 768px) {
  #header {
    height: 6rem;
    padding: 1rem 0 0.8rem;
  }
}
#header .container {
  position: relative;
}
#header .header-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
#header .header-wrapper .logo {
  position: relative;
  display: block;
}
#header .header-wrapper .logo a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20.7rem;
  padding: 0;
}
@media only screen and (max-width: 768px) {
  #header .header-wrapper .logo a {
    width: 13.8rem;
  }
}
#header .header-wrapper .logo a img {
  display: block;
  width: 100%;
}
#header .header-wrapper .header-nav {
  position: relative;
  display: block;
}
@media print, screen and (max-width: 991px) {
  #header .header-wrapper .header-nav {
    display: none;
  }
}
#header .header-wrapper .header-nav .nav-menu {
  position: relative;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}
#header .header-wrapper .header-nav .nav-menu > li {
  position: relative;
  padding: 0;
}
#header .header-wrapper .header-nav .nav-menu > li .menu-link {
  position: relative;
  display: inline-block;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 3rem;
  text-align: center;
  color: #000000;
  padding: 1rem 1.5rem;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  z-index: 0;
}
#header .header-wrapper .header-nav .nav-menu > li .menu-link:hover, #header .header-wrapper .header-nav .nav-menu > li .menu-link.active {
  color: #429BD8;
}
#header .header-wrapper .header-nav .nav-menu > li.contact-action {
  position: relative;
  padding-left: 2rem;
}
#header .header-wrapper .header-nav .nav-menu > li.contact-action .action-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 5rem;
  padding: 1rem 2rem;
  background: #429BD8;
  border: 2px solid #429BD8;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 900;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  outline: none;
  transition: all 0.6s cubic-bezier(0.8, 0, 0.2, 1);
  overflow: hidden;
  z-index: 1;
}
#header .header-wrapper .header-nav .nav-menu > li.contact-action .action-btn span {
  position: relative;
  display: inline-block;
  color: inherit;
  text-decoration: none;
  padding-bottom: 0.2rem;
  z-index: 3;
}
#header .header-wrapper .header-nav .nav-menu > li.contact-action .action-btn svg {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: auto;
  margin-right: 1rem;
  z-index: 3;
}
#header .header-wrapper .header-nav .nav-menu > li.contact-action .action-btn svg path {
  transition: all 0.6s cubic-bezier(0.8, 0, 0.2, 1);
}
#header .header-wrapper .header-nav .nav-menu > li.contact-action .action-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: #FFFFFF;
  width: 100%;
  height: 100%;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1);
  transform-origin: right top;
  transform: scale(0, 1);
  z-index: 1;
}
#header .header-wrapper .header-nav .nav-menu > li.contact-action .action-btn:hover {
  color: #429BD8;
}
#header .header-wrapper .header-nav .nav-menu > li.contact-action .action-btn:hover svg path {
  fill: #429BD8;
}
#header .header-wrapper .header-nav .nav-menu > li.contact-action .action-btn:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}
#header .header-wrapper .header-nav .nav-menu .drop-down .drop-down-nav {
  position: absolute;
  left: -44.7rem;
  top: calc(100% + 20px);
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 1.5rem;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  filter: drop-shadow(0 0.3rem 1.2rem rgba(0, 0, 0, 0.16));
  transition: all 0.3s ease-in-out;
}
#header .header-wrapper .header-nav .nav-menu .drop-down .drop-down-nav::before {
  content: "";
  position: absolute;
  left: 41.5%;
  top: 0;
  display: inline-block;
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
  border-top: 0;
  border-bottom: 1.6rem solid #FFFFFF;
}
#header .header-wrapper .header-nav .nav-menu .drop-down .drop-down-nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  background: #FFFFFF;
  padding: 2rem 1.2rem;
  border-radius: 1rem;
}
#header .header-wrapper .header-nav .nav-menu .drop-down .drop-down-nav ul li {
  position: relative;
  flex: 0 0 auto;
  width: auto;
  padding: 0 0.8rem;
}
#header .header-wrapper .header-nav .nav-menu .drop-down .drop-down-nav ul a {
  position: relative;
  display: block;
  width: 19.2rem;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3 ease-in-out;
  z-index: 0;
}
#header .header-wrapper .header-nav .nav-menu .drop-down .drop-down-nav ul a .thumb {
  position: relative;
  width: 100%;
}
#header .header-wrapper .header-nav .nav-menu .drop-down .drop-down-nav ul a .thumb img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-in-out;
}
#header .header-wrapper .header-nav .nav-menu .drop-down .drop-down-nav ul a .title {
  position: relative;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 900;
  color: #000000;
  text-align: center;
  margin-top: 1.2rem;
}
#header .header-wrapper .header-nav .nav-menu .drop-down .drop-down-nav ul a:hover .thumb img {
  transform: scale(1.15);
}
#header .header-wrapper .header-nav .nav-menu .drop-down:hover .drop-down-nav, #header .header-wrapper .header-nav .nav-menu .drop-down:focus .drop-down-nav {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  width: 6rem;
  height: 6rem;
  padding: 1.8rem 1.5rem;
  background: #429BD8;
  display: none;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 999;
  margin: 0;
  transition: all 0.4s ease-in-out;
}
@media only screen and (max-width: 768px) {
  .mobile-nav-toggle {
    display: inline-block;
  }
}
.mobile-nav-toggle .toggle-icon {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
}
.mobile-nav-toggle .toggle-icon span {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ffffff;
  transition: all 0.4s ease-in-out;
  transform-origin: center center;
}
.mobile-nav-toggle .toggle-icon span:nth-child(1) {
  top: 0;
}
.mobile-nav-toggle .toggle-icon span:nth-child(2) {
  top: calc(50% - 1px);
}
.mobile-nav-toggle .toggle-icon span:nth-child(3) {
  bottom: 0;
}
.mobile-nav-toggle.toggle-active .toggle-icon span:nth-child(1) {
  transform: translateY(1rem) rotate(-40deg);
}
.mobile-nav-toggle.toggle-active .toggle-icon span:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}
.mobile-nav-toggle.toggle-active .toggle-icon span:nth-child(3) {
  transform: translateY(-1.1rem) rotate(40deg);
}

#mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 998;
  right: -100%;
  width: 92%;
  max-width: 600px;
  overflow-y: auto;
  transition: all 0.4s ease-in-out;
  background: #429BD8;
}
#mobile-nav .mobile-nav-container {
  position: relative;
  padding: 6rem 1.5rem 3rem;
}
#mobile-nav .mobile-nav-menu {
  position: relative;
  list-style: none;
}
#mobile-nav .mobile-nav-menu > li {
  position: relative;
  display: block;
  border-bottom: 1px solid #ffffff;
}
#mobile-nav .mobile-nav-menu > li > a {
  position: relative;
  display: block;
  width: 100%;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
  padding: 1.8rem 0;
  text-decoration: none;
  outline: none;
}
#mobile-nav .mobile-nav-menu .drop-down > a::after {
  content: "\f078";
  position: absolute;
  top: calc(50% - 1.2rem);
  right: 0;
  font-family: var(--fa-style-family, "Font Awesome 6 Free");
  font-weight: var(--fa-style, 900);
  font-size: 80%;
  transition: all 0.2s ease-in-out;
}
#mobile-nav .mobile-nav-menu .drop-down .drop-down-nav {
  position: relative;
  display: none;
  overflow: hidden;
  padding-bottom: 2rem;
}
#mobile-nav .mobile-nav-menu .drop-down ul {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -0.6rem;
  margin-right: -0.6rem;
}
#mobile-nav .mobile-nav-menu .drop-down li {
  position: relative;
  flex: 0 0 auto;
  width: 50%;
  padding: 0 0.6rem;
  margin-bottom: 1.6rem;
}
#mobile-nav .mobile-nav-menu .drop-down li:nth-last-child(-n+2) {
  margin-bottom: 0;
}
#mobile-nav .mobile-nav-menu .drop-down li a {
  position: relative;
  display: block;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3 ease-in-out;
  z-index: 0;
}
#mobile-nav .mobile-nav-menu .drop-down li a .thumb {
  position: relative;
  width: 100%;
  border-radius: 0.6rem;
}
#mobile-nav .mobile-nav-menu .drop-down li a .thumb img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-in-out;
}
#mobile-nav .mobile-nav-menu .drop-down li a .title {
  position: relative;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  margin-top: 1rem;
}
#mobile-nav .mobile-nav-menu .drop-down.active > a::after {
  transform: rotate(180deg);
  transform-origin: center center;
}
#mobile-nav .social-menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -1.2rem;
  margin-right: -1.2rem;
  margin-top: 3rem;
}
#mobile-nav .social-menu > li {
  position: relative;
  flex: 0 0 auto;
  width: auto;
  padding: 0 1.2rem;
}
#mobile-nav .social-menu a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
}
#mobile-nav .social-menu a img {
  display: block;
  width: 100%;
}

.mobile-nav-overly {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 997;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

/* Mobile Nav body classes */
@media only screen and (max-width: 768px) {
  body.mobile-nav-active {
    overflow: hidden;
  }
}

body.mobile-nav-active #mobile-nav {
  right: 0;
}

.intro {
  position: relative;
}
.intro .video-wide {
  width: -webkit-fill-available;
}
.intro .intro-text {
  position: absolute;
  top: 67%;
  left: 4.2%;
  font-size: 5rem;
  color: #FFFFFF;
}
.intro .intro-bottom-text {
  font-size: 3rem;
  position: absolute;
  left: 4.2%;
  top: 80%;
  color: #FFFFFF;
}

.info-intro {
  position: relative;
}

#footer {
  position: relative;
  padding: 6rem 0 3rem;
  background: #FFFFFF;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  #footer {
    padding: 5rem 0 1.8rem;
  }
}
#footer .footer-logo {
  position: relative;
  margin-bottom: 3rem;
}
#footer .footer-logo a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29.5rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}
@media only screen and (max-width: 768px) {
  #footer .footer-logo a {
    width: 19.9rem;
  }
}
#footer .footer-logo a img {
  display: block;
  width: 100%;
}
#footer .footer-info {
  position: relative;
  margin-bottom: 3rem;
}
#footer .footer-info .text {
  position: relative;
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-align: center;
}
#footer .footer-info .text a {
  color: inherit;
  text-decoration: underline;
}
#footer .footer-nav {
  position: relative;
}
#footer .footer-nav .nav-menu {
  position: relative;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  #footer .footer-nav .nav-menu {
    margin-left: -1.2rem;
    margin-right: -1.2rem;
  }
}
#footer .footer-nav .nav-menu > li {
  position: relative;
  flex: 0 0 auto;
  width: auto;
  padding: 0 1.5rem;
}
@media only screen and (max-width: 768px) {
  #footer .footer-nav .nav-menu > li {
    padding: 0 1.2rem;
  }
}
#footer .footer-nav .nav-menu a {
  position: relative;
  display: inline-block;
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 900;
  color: #000000;
  text-align: center;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  #footer .footer-nav .nav-menu a {
    font-size: 1.6rem;
    line-height: 3rem;
  }
}
#footer .footer-nav .nav-menu a:hover, #footer .footer-nav .nav-menu a:focus {
  text-decoration: underline;
}
#footer .social-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 768px) {
  #footer .social-nav {
    margin-left: -1.2rem;
    margin-right: -1.2rem;
  }
}
#footer .social-nav > li {
  position: relative;
  padding: 0 1.5rem;
}
@media only screen and (max-width: 768px) {
  #footer .social-nav > li {
    padding: 0 1.2rem;
  }
}
#footer .social-nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  padding: 0;
}
#footer .social-nav a img {
  display: block;
  width: 100%;
  height: auto;
  transform-origin: center center;
  filter: drop-shadow(0rem 0.3rem 0.6rem rgba(0, 0, 0, 0.16));
  transition: all 0.2s ease-in-out;
}
#footer .social-nav a:hover img {
  transform: scale(1.1);
}

.copyright {
  position: relative;
  display: block;
  padding: 2rem 1.5rem;
  background: #FFFFFF;
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: 500;
  color: #000000;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .copyright {
    padding: 1.8rem 1.5rem;
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}

.back_to_top {
  position: fixed;
  bottom: 30px;
  right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  z-index: 996;
}
@media only screen and (max-width: 768px) {
  .back_to_top {
    width: 45px;
    right: 16px;
    bottom: 16px;
  }
}
.back_to_top img {
  width: 100%;
}
@media print, screen and (min-width: 769px) {
  .back_to_top img {
    transition: all 0.4s;
  }
}
@media print, screen and (min-width: 769px) {
  .back_to_top:hover {
    text-decoration: none;
  }
  .back_to_top:hover img {
    filter: drop-shadow(0 0 12px #fff);
    -webkit-filter: drop-shadow(0 0 12px #fff);
  }
}

.fixed-sidebar {
  position: fixed;
  top: 30rem;
  right: -1.6rem;
  display: block;
  z-index: 996;
}
@media only screen and (max-width: 768px) {
  .fixed-sidebar {
    top: 25rem;
    right: 0;
  }
}
.fixed-sidebar > li {
  position: relative;
  display: block;
}
.fixed-sidebar > li:not(:last-child) {
  margin-bottom: 4px;
}
.fixed-sidebar > li a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.6rem 3rem 1.6rem 2.1rem;
  background: #429BD8;
  border-radius: 3.2rem 0 0 3.2rem;
  border: none;
  text-decoration: none;
  filter: drop-shadow(0 0.3rem 0.6rem rgba(0, 0, 0, 0.16));
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 768px) {
  .fixed-sidebar > li a {
    padding: 1rem 0.8rem 1rem 1.2rem;
  }
}
.fixed-sidebar > li a img {
  display: block;
  width: 3rem;
}
@media only screen and (max-width: 768px) {
  .fixed-sidebar > li a img {
    width: 2rem;
  }
}
@media print, screen and (min-width: 769px) {
  .fixed-sidebar > li a:hover {
    transform: translateX(-1.5rem);
  }
}
@media only screen and (max-width: 768px) {
  .fixed-sidebar > li a:hover, .fixed-sidebar > li a:focus {
    background: #247FBC;
  }
}

.footer-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  z-index: 996;
}
.footer-fixed > li {
  position: relative;
  flex: 0 0 50%;
  width: 50%;
}
.footer-fixed .phone-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 100%;
  max-width: 100%;
}
.footer-fixed .phone-btn img {
  width: 100%;
  height: auto;
}
.footer-fixed .mail-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FF7100;
  width: 100%;
  max-width: 100%;
  height: 6rem;
  text-decoration: none;
  outline: none;
  padding: 1rem 1.2rem;
  border: 2px solid #FF7100;
  transition: background 0.6s cubic-bezier(0.8, 0, 0.2, 1);
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}
.footer-fixed .mail-btn .btn-icon {
  position: relative;
  flex: 0 0 auto;
  width: 3rem;
  height: auto;
  z-index: 3;
}
.footer-fixed .mail-btn .btn-icon path {
  transition: all 0.6s cubic-bezier(0.8, 0, 0.2, 1);
}
.footer-fixed .mail-btn .btn-text {
  position: relative;
  flex: 0 0 auto;
  width: calc(100% - 3rem);
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 900;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  padding-left: 1rem;
  z-index: 3;
}
.footer-fixed .mail-btn .btn-text small {
  position: relative;
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: #FED517;
  transition: color 0.6s cubic-bezier(0.8, 0, 0.2, 1);
}
.footer-fixed .mail-btn .btn-text strong {
  position: relative;
  display: block;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  transition: color 0.6s cubic-bezier(0.8, 0, 0.2, 1);
}
@media only screen and (max-width: 768px) {
  .footer-fixed .mail-btn .btn-text strong {
    letter-spacing: 0;
  }
}
.footer-fixed .mail-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: #FFFFFF;
  width: 100%;
  height: 100%;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1);
  transform-origin: right top;
  transform: scale(0, 1);
  z-index: 1;
}
.footer-fixed .mail-btn:hover .btn-icon path {
  fill: #FF7100;
}
.footer-fixed .mail-btn:hover .btn-text {
  color: #FF7100;
}
.footer-fixed .mail-btn:hover .btn-text small {
  color: #FF7100;
}
.footer-fixed .mail-btn:hover .btn-text strong {
  color: #FF7100;
}
.footer-fixed .mail-btn:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}/*# sourceMappingURL=style.css.map */